body{
    background-color: rgb(248, 245, 213);
    font-family: 'Times New Roman', Times, serif;
    padding:0%;
    margin: 0%;
}
.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  padding-top: 20px;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
}
.sidebar ul li {
  padding: 10px;
}
.sidebar ul li a {
  color: rgb(243, 242, 166);
  text-decoration: none;
}
.content {
  margin-left: 200px;
  padding: 20px;
}
.listas{
  opacity: 0%;

}
.listas:hover{
  text-align: center;
}
h4:hover{
  text-align: center;

}
footer{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding:6%;
}