body{
    background-color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    padding:0%;
    margin: 0%;
}
.navbar{
    background-color: rgb(163, 255, 140);
    color: white;
    font-size: medium;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.conteudo:hover{
    background-color: black;
    font-size: larger;
}
.botão{
    border-color: rgb(134, 134, 236);

}
.botão:hover{
    background-color: rgb(255, 255, 255);
}
